node_modules
.env
/backend/.env
/frontend/.env
/backend/node_modules
/frontend/node_modules
/backend/package-lock.json
/frontend/package-lock.json
/backend/package.json
/frontend/package.json
/backend/tsconfig.json
/frontend/tsconfig.json
/backend/dist
/frontend/dist
/backend/build
/frontend/build
/backend/logs
/frontend/logs
/backend/src/logs
/frontend/src/logs
/backend/src/uploads
/frontend/src/uploads
/backend/src/public
/frontend/src/public

