node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.env
*.env.local
*.env.development
*.env.test
*.env.production

logs/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

/dist
/build

coverage/
*.lcov

*.sqlite
*.db

# Docker
**/pgdata/

